<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weryfikacja dwustopniowa</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'login/login_style.css' %}"
    />
      <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'otp_auth/otp_auth_style.css' %}"
    />
  </head>
  <body>
    <div id="logowanie-napis">Weryfikacja dwustopniowa</div>
    <div id="login-panel">
     <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="auth_button">Potwierdz logowanie</button>
</form>

{% if msg %}
    <p id="msg">{{ msg }}</p>
{% endif %}
    </div>
       <div id="back-container">
      <a id="back" href="/signout">Wyloguj sie i wróc na strone głowną</a>
    </div>
  </body>
</html>
